

















#root,
#----e {
   --ion-font-family : 'Open Sans', 'Droid Sans', 'Segoe UI', Tahoma, Verdana, Geneva, sans-serif ;  
   font-family: var(--ion-font-family ); 
}

#root,
ion-title , 
ion-page , div.ion-page ,
ion-label ,
ion-button ,
ion-tab-button ,
#-----e {
   font-weight: bold ;
}
ion-toolbar ,
ion-tab-bar ,
#-----e {
   backdrop-filter: blur(6px) ;
   --xmda-opacity: 0.55 ;
   --background: rgba(255 255 255 / var(--xmda-opacity, 0.5 ) ) ;
   --background: rgba(var(--ion-background-color-rgb, 255,255,255) , var(--xmda-opacity, 0.5 ) ) ;
}

ion-title,
ion-heading ,
p ,
#-----e {
   /* user-select: all ; */
}

*::-webkit-scrollbar { width: 0.5em ; height: 0.5em;  background: transparent; }
*::-webkit-scrollbar-thumb { 
   /* background-color: rgba(128 128 128 / 0.45 ) ;  */
   border-radius: 0.25em ; 
   transition: all 1s ease-out;
}
*::-webkit-scrollbar-track {
   /* background-color: rgba(128 128 128 / 0.05 ) ;  */
   backdrop-filter: blur(3px) ;
   border-radius: 0.25em ; 
}
*::-webkit-scrollbar-thumb { background-color: rgba(128 128 128 / 0.38 ); }
*::-webkit-scrollbar-track { background-color: rgba(128 128 128 / 0.35 ); }
*:hover::-webkit-scrollbar-thumb { background-color: rgba(128 128 128 / 0.95 ); }
*:hover::-webkit-scrollbar-track {   }
*:hover::-webkit-scrollbar-corner { background-color: rgba(128 128 128 / 0.35 ); }
@media never {
   *:not(:hover):not(:focus-within)::-webkit-scrollbar-thumb { background-color: transparent; }
   *:not(:hover):not(:focus-within)::-webkit-scrollbar {  }
}
*:hover::-webkit-scrollbar-thumb, 
/* *:focus-within::-webkit-scrollbar-thumb,  */
#---e { background-color: rgba(var(--ion-color-primary-rgb) , 1.0 ); }
*:hover::-webkit-scrollbar-track, 
*:focus-within::-webkit-scrollbar-track, 
#---e { background-color: rgba(var(--ion-color-primary-rgb) , 0.5 ); }

b, strong,
#-----e {
   font-weight: bolder;
}
blockquote, pre,
#----e {
   border: 0.05em solid currentColor ;
   padding: 0.5em ;
   padding-block-end: 1em ;
   overflow: auto;
   resize: vertical;
}
del, s, 
#----e {
   color: gray ;
   text-decoration: line-through solid currentcolor ;
   text-decoration-thickness: 1ex ;
   user-select: none ;
}
.GAvsePairwise-items {
   display: flex;
   flex-direction: row;
}
.GAvsePairwise > * {
   resize: horizontal ;
   flex: 1 1 50% ;
}











#----EXPERIMENTAL--HACK--- {}
ion-fab ,
/* fixing the layout-bug in the infrastructural code */
#-----e {
   position: fixed ; 
}
#root ,
#-----e {
   --xmda-scrollable-margin-bottom : 56px ;
}
ion-fab[vertical="bottom" ] ,
/* fixing the layout-bug in the infrastructural code */
#-----e {
   bottom: calc((10px + var(--xmda-scrollable-margin-bottom, 0px /* */ ) ) ) ;
}
.tabs-inner ,
#----e {
   margin-block-end: calc(var(--xmda-scrollable-margin-bottom, 0px ) * -1 ) ;
}
ion-content::part(scroll) ,
.inner-scroll ,
#------e {
   padding-block-end: var(--xmda-scrollable-margin-bottom, 0px ) ;
}
ion-content::part(scroll),
.inner-scroll,
#-------e {
   /* border: 0.2em solid blue ; */
}
ion-content::after {
   content: "inserted content";
}




